/* ABSTRACTS */
@use "./abstracts/variables";

/* BASE */
@use "./base/reset";
@use "./base/typography";

/* COMPONENTS */
@use "./components/button";
@use "./components/notification";
@use "./components/loader";
@use "./components/whatsapp";
@use "./components/scroll-top";

/* LAYOUT */
@use "./components/layout/header";
@use "./components/layout/footer";
@use "./components/layout/main-layout";

/* PAGES */
@use "./pages/home";
@use "./pages/servicios";
@use "./pages/resultados";
@use "./pages/sobre-mi";
@use "./pages/mi-trabajo";
@use "./pages/contacto";
@use "./pages/legal";

.appFade {
  animation: appFadeIn 0.8s ease;

  &--hidden {
    visibility: hidden;
    overflow: hidden;
  }
}

@keyframes appFadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
